<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>editor</title>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/editormd/examples/css/style.css" />
    <link rel="stylesheet" href="/static/editormd/css/editormd.min.css" />
    <link rel="stylesheet" href="/static/editormd/lib/codemirror/addon/search/matchesonscrollbar.css" />

</head>
<body>
<div id="layout">
    <header>
        <h1>Simple example</h1>
    </header>
    <form id="subForm" method="post" action="/sgdFundEtf/editor">
        <div id="test-editormd">
                <textarea style="display:none;">[TOC]

#### Disabled options

- TeX (Based on KaTeX);
- Emoji;
- Task lists;
- HTML tags decode;
- Flowchart and Sequence Diagram;

#### Editor.md directory

    editor.md/
            lib/
            css/
            scss/
            tests/
            fonts/
            images/
            plugins/
            examples/
            languages/
            editormd.js
            ...

```html
&lt;!-- English --&gt;
&lt;script src="../dist/js/languages/en.js"&gt;&lt;/script&gt;

&lt;!-- 繁體中文 --&gt;
&lt;script src="../dist/js/languages/zh-tw.js"&gt;&lt;/script&gt;
```
</textarea>
        </div>
        <div style="width:90%;margin: 10px auto;">
            <input type="submit" name="submit" value="提交表单 Submit" style="padding: 5px;" />
        </div>
    </form>
</div>
<script th:src="@{/static/editormd/examples/js/jquery.min.js}"></script>
<script th:src="@{/static/editormd/editormd.min.js}"></script>
<script th:src="@{/static/editormd/lib/codemirror/codemirror.min.js}"></script>
<script type="text/javascript">
    var testEditor;
    $(function() {
        testEditor = editormd("test-editormd", {
            width: "90%",
            height: 640,
            syncScrolling: "single",
            path: "../static/editormd/lib/",
            //图片上传
            imageUpload : true,
            imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL : "/sgdFundEtf/file/upload",
            onload: function () {
                /*var ctxPath=[[${#httpServletRequest.getContextPath()}]];*/
                console.log('onload', this);
            },
            saveHTMLToTextarea : true,
            toolbarIcons : function() {
                // Or return editormd.toolbarModes[name]; // full, simple, mini
                // Using "||" set icons align right.
                return ["undo", "redo", "|", "bold", "hr", "|", "preview", "watch", "|", "fullscreen", "info", "testIcon", "testIcon2", "file", "faicon", "||", "watch", "fullscreen", "preview", "testIcon"]
            },
            toolbarIconsClass : {
                testIcon : "fa-floppy-o"  // 指定一个FontAawsome的图标类
            },

        });
    });

</script>
</body>
</html>